Package: com.haoict.microsoftdetectionbypass
Name: Microsoft Detection Bypass
Depends: mobilesubstrate, preferenceloader, com.haoict.libhdev (>= 4.8.0), firmware (>= 12)
Version: 1.0.6~fix
Architecture: iphoneos-arm
Description: Free Tweak for Microsoft Apps Detection Bypass
 Free Microsoft Apps Detection Bypass
 README: Recently, Microsoft apps are changing class name every version, so please avoid updating their apps from App store until I figure out a solution to make the tweak works in a long term.
 Change log: https://github.com/haoict/microsoft-detection-bypass/releases
 . 
 Features:
 - Bypass Jailbreak Detection for Microsoft Enterprise Apps:
  + Outlook
  + Teams
  + Word
  + Excel
  + PowerPoint
  + Office 365
  + OneNote
  + Power Apps
  + OneDrive
  + OneNote
  + Skype for Business
  + Edge
  + SharePoint
  + To Do
  + Company Portal
  + Yammer
  + Power BI
 - Support iOS 12-14
 . 
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 . 
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
